.txt {
    -fx-font-family: 'Inter 28pt Regular';
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-text-fill: #111827;
}

.h1 {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.h2-Inter {
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.h3 {
    -fx-font-family: 'Inter 28pt Semibold';
    -fx-font-weight: 600;
    -fx-font-size: 18px;
}

.subtitulo {
    -fx-font-family: 'Inter 28pt Regular';
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}

.botao {
    -fx-background-color: #1A56DB;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.botao:hover {
    -fx-background-color: #1546b8;
}

.botao-navbar {
    -fx-background-color: #1A56DB;
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.botao-navbar:hover {
    -fx-background-color: #1546b8;
    -fx-border-color: #f9fafb;
    -fx-border-width: 0 0 0 4px;
}

.botao-navbar-ativo {
    -fx-background-color: #1546b8;
    -fx-border-color: #f9fafb;
    -fx-border-width: 0 0 0 4px;
}

.campo-busca {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 20;
    -fx-border-color: #cccccc;
    -fx-border-radius: 20;
}

.campo-busca:hover {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #b8b8b8;
}

.combo-box-editavel {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-color: #6B7280;
    -fx-border-radius: 20;
    -fx-border-width: 1px;
}

.combo-box-editavel .list-cell {
    -fx-font-family: 'Inter 28pt Regular';
    -fx-font-weight: normal;
    -fx-font-size: 18px;
    -fx-text-fill: #111827;
}

.combo-box-editavel .list-cell:hover {
    -fx-background-color: #1A56DB;
    -fx-text-fill: #f9fafb;
}

.combo-box-editavel .list-cell:hover {
    -fx-background-color: #1A56DB;
    -fx-text-fill: #f9fafb;
}

.tabela {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tabela .column-header-background,
.tabela .column-header-background .nested-column-header,
.tabela .column-header,
.tabela .filler,
.tabela .corner {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
}

.tabela .column-header .label {
    -fx-text-fill: #111827;
    -fx-font-family: "Inter 28pt Semibold";
    -fx-font-size: 18;
    -fx-alignment: CENTER;
}

.tabela .table-row-cell {
    -fx-cell-size: 45px;
    -fx-background-color: transparent;
}

.tabela .table-row-cell:selected,
.tabela .table-row-cell:selected .table-cell {
    -fx-background-color: #e8e8e8 !important;
}

.tabela .table-row-cell:hover,
.tabela .table-row-cell:hover .table-cell {
    -fx-background-color: #e8e8e8;
}

.tabela .table-cell {
    -fx-border-color: transparent transparent #111827 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-font-family: "Inter 28pt Regular";
    -fx-font-size: 14;
    -fx-text-fill: #111827;
    -fx-alignment: CENTER;
}

.tabela .table-cell .text {
    -fx-bounds-type: VISUAL;
}

.tabela .table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
}

.lembretes {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-fit-to-width: true;
}

.lembretes .virtual-flow {
    -fx-background-color: transparent;
}

.lembretes .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 0;
}

.lembretes .list-cell:filled:hover,
.lembretes .list-cell:filled:selected {
    -fx-background-color: transparent;
}