.txt {
    -fx-font-family: 'Inter 28pt Regular';
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-text-fill: #111827;
}

.h1 {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.h2-Inter {
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.h3 {
    -fx-font-family: 'Inter 28pt Semibold';
    -fx-font-weight: 600;
    -fx-font-size: 18px;
}

.subtitulo {
    -fx-font-family: 'Inter 28pt Regular';
    -fx-font-weight: normal;
    -fx-font-size: 18px;
}

.botao {
    -fx-background-color: #1A56DB;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.botao:hover {
    -fx-background-color: #1546b8;
}

.botao-navbar {
    -fx-background-color: #1A56DB;
    -fx-font-family: 'Inter 28pt Bold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.botao-navbar:hover {
    -fx-background-color: #1546b8;
    -fx-border-color: #f9fafb;
    -fx-border-width: 0 0 0 4px;
}

.botao-navbar-ativo {
    -fx-background-color: #1546b8;
    -fx-border-color: #f9fafb;
    -fx-border-width: 0 0 0 4px;
}

.campo-busca {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 20;
    -fx-border-color: #cccccc;
    -fx-border-radius: 20;
}

.campo-busca:hover {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #b8b8b8;
}